.bar {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.barinter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 120px;
  margin-left: 15%;
  list-style: none;
}

.logo {
  margin-bottom: 20px;
  cursor: pointer;
  width: 160px;
  height: auto;
}

.bartext {
  padding-bottom: 8px;
  color: white;
  text-decoration: none;
  font-size: 26px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.bartext:hover {
  border-color: #ffc219;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1440px) {
  .bar {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .barinter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 120px;
    margin-left: 15%;
    list-style: none;
  }
}

@media (max-width: 1024px) {
  .bar {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .barinter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 120px;
    margin-left: 15%;
    list-style: none;
  }
}
