.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}

.title{
    font-size: 130px;
    letter-spacing: 11px;
}

.title_color{
    color: #ffc219;
}

.sub_title{
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: 300;
    letter-spacing: 12px;
}

.button{
    color: black;
    background-color: white;
    padding: 8px 20px 10px;
    border-radius: 10px;
    font-size: 21px;
    letter-spacing: 4px;
    border: 1px solid #000;
    cursor: pointer;
}

.button:hover{
    background-color: black;
    color: #ffc219;
}