.all {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  padding-bottom: 100px;
  border-bottom: #ffc219 2px solid;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1{
  color:  #ffc219;
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: 450;
}

.main h2{
  font-size: 32px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.title_decor {
  width: 650px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 450;
  line-height: 30px;
}

.description {
  width: 700px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.embla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5%;
  height: 400px;
  padding: 50px;
  overflow: hidden;
  cursor: pointer;
}

.embla__container {
  display: flex;
  width: 100vw;
}

.embla__slide {
  width: 100vw;
  display: flex;
  flex: 0 0 35%;
  min-width: 0;
}

.pic_name img {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border: black 5px solid;
}
